header {
    padding: 20px;
    text-align: center;
    background-image: url("image/vietdecor-temenos-offices-archello.1601489689.0238.jpg");
    color: white;
    font-size: 20px;
    background-position: 2em;
    }
    h1{
        
        word-spacing: 0.3em;
        letter-spacing: 7px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .button{
        background-color :blue; /* Green*/
        border: none;
        color: white;
        padding:20px 40px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 20px;
        margin-left: 40px;
        margin-top: 4px;
        margin-bottom: 10px;
        width :20%;
        transition-duration: 0.4s;    
    }
    .button:hover {
        background-color:navy; /* Green */
        color: white;
      }
    .flex-container{
        background-color:white;
        margin-top: 10px;
        display : flex;
        flex-wrap: wrap;
    }
    footer{
        position:flex;
        width: 100%;
        background: #111;
      }
      .main-content{
        display: flex;
      }
      .main-content .box{
        flex-basis: 50%;
        padding: 10px 20px;
      }
      .box h2{
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      .box .content{
        margin: 20px 0 0 0;
        position: relative;
      }
      .box .content:before{
        position: absolute;
        content: '';
        top: -10px;
        height: 2px;
        width: 100%;
        background:white;
      }
      .box .content:after{
        position: absolute;
        content: '';
        height: 2px;
        width: 15%;
        background:white;
        top: -10px;
      }
      .left .content p{
        text-align: justify;
      }
      .center .content .fas{
        font-size: 1.4375rem;
        background: #1a1a1a;
        height: 45px;
        width: 45px;
        line-height: 45px;
        text-align: center;
        border-radius: 50%;
        transition: 0.3s;
        cursor: pointer;
      }
      .center .content .fas:hover{
        background:red;
      }
      .center .content .text{
        font-size: 1.0625rem;
        font-weight: 500;
        padding-left: 10px;
      }
      .center .content .phone{
        margin: 15px 0;
      }
      .right form .text{
        font-size: 1.0625rem;
        margin-bottom: 2px;
        color:white;
      }
      .right form .msg{
        margin-top: 10px;
      }
      .right form input, .right form textarea{
        width: 100%;
        font-size: 1.0625rem;
        background: white;
        padding-left: 10px;
        border: 1px solid white;
      }
      .right form input:focus,
      .right form textarea:focus{
        outline-color: #3498db;
      }
      .right form input{
        height: 35px;
      }
      .right form .btn{
        margin-top: 10px;
      }
      .right form .btn button{
        height: 40px;
        width: 100%;
        border: none;
        outline: none;
        background: #f12020;
        font-size: 1.0625rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s;
      }
      .right form .btn button:hover{
        background:whitesmoke;
      }
      .bottom center{
        padding: 5px;
        font-size: 0.9375rem;
        background:#151515;
      }
      .bottom center span{
        color: #656565;
      }
      .bottom center a{
        color: white;
        text-decoration: none;
      }
      .bottom center a:hover{
        text-decoration: underline;
      }
      @media screen and (max-width: 900px) {
        footer{
          position: relative;
          bottom: 0px;
        }
        .main-content{
          flex-wrap: wrap;
          flex-direction: column;
        }
        .main-content .box{
          margin: 5px 0;
        }
      }
      
    