header {
    padding: 20px;
    text-align: center;
    background-image: url("image/vietdecor-temenos-offices-archello.1601489689.0238.jpg");
    color: white;
    font-size: 20px;
    background-position: center top;
    }
    h1{
        font-family: roboto;
        word-spacing: 0.3em;
        letter-spacing: 7px;
    }